.imge-conatiner{
    max-width: 1300px;
    display: block;
    margin: auto;
    height: 100vh;
   
}
.image{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 60px;
}
.image img{
    width: 80%;
}